<div class="row">
    <div class="col-xl-12">
        <div class="breadcrumb-holder">
            <h1 class="main-title float-left">Users</h1>
            <ol class="breadcrumb float-right">
                <li class="breadcrumb-item">Home</li>
                <li class="breadcrumb-item active">Users</li>
            </ol>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!-- end row -->


<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="card mb-3">
            <div class="card-header">
                <span class="pull-right">
                    <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modal_add_user">
                        <i class="fa fa-user-plus" aria-hidden="true"></i> Add new user</button>
                </span>
                <div class="modal fade custom-modal" tabindex="-1" role="dialog" aria-labelledby="modal_add_user"
                    aria-hidden="true" id="modal_add_user">
                    <div class="modal-dialog">
                        <div class="modal-content">




                            <form action="/admin/create-user" method="POST">



                                <div class="modal-header">
                                    <h5 class="modal-title">Add new user</h5>
                                    <button type="button" class="close" data-dismiss="modal">
                                        <span aria-hidden="true">&times;</span>
                                        <span class="sr-only">Close</span>
                                    </button>
                                </div>

                                <div class="modal-body">

                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <label>Full name (required)</label>
                                                <input class="form-control" name="fullname" type="text" required autocomplete="off"/>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label>User</label>
                                                <input class="form-control" name="username" type="text" required autocomplete="off"/>
                                            </div>
                                        </div>

                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label>Password (required)</label>
                                                <input class="form-control" name="password" type="text" required autocomplete="off"/>
                                            </div>
                                        </div>
                                    </div>

                                    

                                </div>

                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary">Add user</button>
                                </div>






                            </form>






                        </div>
                    </div>
                </div>
                <h3>
                    <i class="fa fa-user"></i> All users
                </h3>
            </div>
            <!-- end card-header -->




            <div class="card-body">

                <div class="table-responsive">
                    <table class="table table-bordered">



                        <thead>

                            <tr>
                                <th style="width:50px">Index</th>
                                <th style="min-width:150px">Full Name</th>
                                <th style="min-width:150px;">User Name</th>
                                <th style="min-width:100px;">Password</th>
                                <th style="min-width:100px">Role</th>
                                <th style="min-width:100px;">Actions</th>
                            </tr>

                        </thead>



                        <tbody>

                            {{#each accounts}}
                            <tr>

                                <td>
                                    {{sum @index 1}}
                                </td>

                                <td>
                                    {{this.fullname}}
                                </td>

                                <td>
                                    {{this.username}}                                    
                                </td>

                                <td>
                                    {{this.password}}
                                </td>

                                <td>
                                    {{this.who}}                                   
                                </td>


                                <td>
                                    <a href="/admin/{{this._id}}/edit-user" class="btn btn-primary btn-sm btn-block"><i class="fa fa-edit"></i>
                                        Edit</a>
                                    <a href="#" class="btn btn-danger btn-sm btn-block mt-2" data-toggle="modal" data-target="#modal-delete-user" data-id="{{this._id}}"><i
                                            class="fa fa-trash"></i> Delete</a>
                                </td>



                            </tr>
                            {{/each}}




                        </tbody>
                    </table>
                </div>








            </div>
            <!-- end card-body -->

        </div>
        <!-- end card -->

    </div>
    <!-- end col -->

</div>
<!-- end row -->



<div class="modal fade" id="modal-delete-user" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Warning</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="text-danger fs-5">Are you sure you want to delete user ???</p>
      </div>
      <div class="modal-footer">
        <button id="btn-delete-user" type="button" class="btn btn-danger">Delete</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<form id="form-delete-user" method="POST"></form>

<script>
    document.addEventListener('DOMContentLoaded', function (e) {
        var userId;
        var deleteUser = document.getElementById('btn-delete-user');
        var formDeleteUser = document.forms['form-delete-user'];



        $('#modal-delete-user').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            userId = button.data('id');

        })

        deleteUser.onclick = function (event) {
            formDeleteUser.action = '/admin/' + userId + '/delete-user?_method=DELETE';
            formDeleteUser.submit();
        }


    });


</script>