<div class="row">
    <div class="col-xl-12">
        <div class="breadcrumb-holder">
            <h1 class="main-title float-left">Courses</h1>
            <ol class="breadcrumb float-right">
                <li class="breadcrumb-item">Home</li>
                <li class="breadcrumb-item active">Courses</li>
            </ol>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!-- end row -->


<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="card mb-3">
            <div class="card-header">
                <span class="pull-right">
                    <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modal_add_user">
                        <i class="fa fa-user-plus" aria-hidden="true"></i> Add new course</button>
                </span>
                <div class="modal fade custom-modal" tabindex="-1" role="dialog" aria-labelledby="modal_add_user"
                    aria-hidden="true" id="modal_add_user">
                    <div class="modal-dialog">
                        <div class="modal-content">




                            <form action="/admin/create-course" method="POST">

                                <div class="modal-header">
                                    <h5 class="modal-title">Add new course</h5>
                                    <button type="button" class="close" data-dismiss="modal">
                                        <span aria-hidden="true">&times;</span>
                                        <span class="sr-only">Close</span>
                                    </button>
                                </div>

                                <div class="modal-body">

                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <label>Name course (required)</label>
                                                <input class="form-control" name="name" type="text" required autocomplete="off"/>
                                            </div>
                                        </div>
                                    </div>



                                    <div class="row">


                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <label>VideoID (required)</label>
                                                <input class="form-control" name="videoId" type="text" required autocomplete="off"/>
                                            </div>
                                        </div>
                                        
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <label>Description</label>
                                                <textarea name="description" required class="form-control"></textarea>
                                            </div>
                                        </div>                                       

                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label>Category </label>
                                                <select name="category">
                                                    <option value="action">Phim Hành Động</option>
                                                </select>
                                            </div>
                                        </div>








                                    </div>




                                </div>

                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary">Add user</button>
                                </div>

                            </form>






                        </div>
                    </div>
                </div>
                <h3>
                    <i class="fa fa-book"></i> All courses
                </h3>
            </div>
            <!-- end card-header -->




            <div class="card-body">

                <div class="table-responsive">
                    <table class="table table-bordered">



                        <thead>

                            <tr>
                                <th style="width:50px">Index</th>
                                <th style="min-width:100px">Name Course</th>
                                <th style="min-width:100px">VideoId</th>
                                <th style="width:300px;">Description</th>
                                <th style="min-width:100px;">Category</th>
                                <th class="text-center" style="width:200px">Image</th>
                                <th style="min-width:100px;">Create-At</th>
                                <th style="min-width:100px;">Updated-At</th>
                                <th style="min-width:100px;">Actions</th>

                            </tr>

                        </thead>



                        <tbody>

                            {{#each courses}}
                            <tr>

                                <td>
                                    {{sum @index 1}}
                                </td>

                                <td>
                                    {{this.name}}
                                </td>

                                <td>
                                    {{this.videoId}}
                                </td>

                                <td>
                                    {{this.description}}
                                </td>

                                <td>
                                    {{this.category}}
                                </td>

                                <td>
                                    <img src="{{this.img}}" style="width:180px;">
                                </td>

                                <td>
                                    {{this.createdAt}}
                                </td>

                                <td>
                                    {{this.updatedAt}}
                                </td>


                                <td>
                                    <a href="{{this._id}}/edit-courses" class="btn btn-primary btn-sm btn-block"><i
                                            class="fa fa-edit"></i>
                                        Edit</a>
                                    <a href="#" class="btn btn-danger btn-sm btn-block mt-2" data-toggle="modal"
                                        data-target="#delete-course-modal" data-id="{{this._id}}"><i
                                            class="fa fa-trash"></i> Delete</a>
                                </td>



                            </tr>
                            {{/each}}




                        </tbody>
                    </table>
                </div>








            </div>
            <!-- end card-body -->

        </div>
        <!-- end card -->

    </div>
    <!-- end col -->

</div>
<!-- end row -->





<div class="modal fade" id="delete-course-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Warning</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="text-danger fs-5">Are you sure you want to delete coursed ???</p>
            </div>
            <div class="modal-footer">
                <button id="btn-delete-course" type="button" class="btn btn-danger">Delete</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>

{{!-- Form delete course --}}
<form id="form-delete-course" method="POST"></form>





<script>

    document.addEventListener('DOMContentLoaded', function () {
        var courseId;
        var btnDeleteCourse = document.getElementById('btn-delete-course');
        var formDeleteCourse = document.forms['form-delete-course'];


        $('#delete-course-modal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget)
            courseId = button.data('id');

        })

        btnDeleteCourse.onclick = function () {
            formDeleteCourse.action = '/admin/' + courseId + '/delete-course?_method=DELETE'
            formDeleteCourse.submit();

        }

    });



</script>